/* .product-card {
    width: 400px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.button-container>button:hover {
    background-color: #fff;
    color: #006048;
    font-weight: 600;
    border: 1px solid #006048;
    transition: ease-in 1s;

}

.check-btn {
    background-color: #006048;
    border: none;
    padding: 20px;
    color: #ffff;
    font-weight: 600;
    font-size: 30px;
}

.check-btn:hover {
    background-color: #fff;
    color: #006048;
    font-weight: 600;
    border: 1px solid #006048;
    transition: ease-in 1s;
} */

/* cart.css */


.card-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  /* Added gap for spacing between cards */
}

.cart-items {
  margin-top: 20px;
}

.cart-items-header {
  text-align: center;
  margin-bottom: 20px;
}

.j-heading {
  font-size: 2rem;
  color: var(--color-black);
}

.product-card {
  width: 200px;
  border-radius: 5px;
  height: 80vh;
  overflow: hidden;
  box-shadow: 5px 0px 10px 0px;
  margin: 10px;
}

.card {
  box-shadow: 5px 0px 10px 0px;
}

.product-card>img {
  margin: 10px auto;
  border-radius: 30px;
  background-color: #f1f1f1;

}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-text {
  color: #333;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
}

.button-container .btn {
  flex: 1;
  margin: 0 5px;
}

.check-btn {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 20px 400px;
  text-align: center;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.check-btn:hover {
  background-color: #218838;
}

.check-btn a {
  color: white;
  text-decoration: none;
}

/* Mobile phones (portrait and landscape) */
@media (max-width: 600px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .product-card {
    width: 100%;
    /* Full width for better fit on small screens */
    margin: 10px 0;
  }

  .check-btn {
    padding: 10px 50px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
  }
}

/* Tablets (portrait and landscape) */
@media (min-width: 601px) and (max-width: 1024px) {
  .card-container {
    width: 90%;


  }

  .product-card {
    width: 70%;
    /* Adjust width to fit two cards per row */
    margin: 10px;
    height: 470px;
  }

  .cart-items-header>h1 {
    margin-right: 25%;
  }

  .check-btn {
    padding: 10px 100px;
    position: relative;
    right: 100px;
    width: 100%;
    box-sizing: border-box;
  }
}