/* Base Styles */
.carousel-content {
  display: flex;
  justify-content: space-between;
}

.carousel {
  background-color: #62cdff;
  border-radius: 5px;
}

#carousel-container {
  margin: 20px 100px;
  width: 1200px;
}

.carousel-content-text {
  margin: 30px 30px;
  font-weight: 600;
}

.carousel-content-text h2 {
  font-size: 40px;
  font-weight: 700;
}

.carousel-btn {
  background-color: black;
  color: #fff;
  transition: ease-in 1s;
}

.carousel-btn:hover {
  background-color: #006045;
}

.carouselImg {
  width: 350px;
  padding: 40px 20px;
  height: 500px;
  border-radius: 5px;
}

/* Media Queries */


/* Tablets in Landscape Mode */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #carousel-container {
    margin: 20px 30px;
    width: auto;
  }
.carousel-content{
  display: flex;
  flex-direction: column;
  align-items:center ;
}
  .carousel-content-text h2 {
    font-size: 30px;
  }

  .carouselImg {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  .carousel-btn {
    width:100%;
  }
}

/* Mobile Devices */
@media (max-width: 480px) {
  #carousel-container {
    margin: 10px;
    width: auto;
  }

  .carousel-content {
    flex-direction: column;
    align-items: center;
  }

  .carousel-content-text {
    margin: 10px;
    text-align: center;
  }

  .carousel-content-text h2 {
    font-size: 25px;
  }

  .carousel-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }

  .carouselImg {
    width: 200px;
    height: auto;
    padding: 10px;
  }
}
