.accordion {
  position: relative;
  width: 700px;
  right: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: auto;
}

.accordion-item {
  gap: 10px;
}
.accordion-body p {
  color: grey;
}

.accordion-header button {
  background-color: #f4f4f4;
  font-weight: 600;
  font-size: 20px;
}

.accordion-button:hover {
  background-color: #006048;
  color: #fff;
}
.form{
    border: none;
}

.form input {
  border: 1px solid rgb(209, 203, 203);
  padding: 10px;
  width: 500px;
  border-radius: 4px;
}
.form button {
  border: none;
  background-color: #006048;
  padding: 10px;
  width: 100px;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 10px;
  transition: ease-in 1s;
}
.form button:hover{
    background-color: #fff;
    color: #006048;
    border: 1px solid #006048;
}
.form textarea{
 width: 500px;
 border-radius: 5px;
    border: 1px solid rgb(194, 190, 190);
}


.faq-text{
    background-color: #f4f4f4;
text-align: center;
padding: 30px;
}

.faq-text span{
    color: rgb(138, 134, 134);
}